.clas{
    margin: 5px;
}

.g{
    height: 500px;
    width: 100%;
}
.l{
    background-color: aqua;
    text-align: center;
    height: 200px;
}

.h{
    text-align: center;
    height: 500px;
}

.e{
    background-color: white;
    text-align: center;
    height: 200px;
}

.i{
    background-color: aqua;
    text-align: center;
    height: 200px;
}

img{
    height: 100px;
    
}
.col-sm-12{
    padding:0px 2px;
}

.col-sm-2{
    padding: 0px 2px;
}

.col-sm-4{
    padding:0px 2px;
}

.col-sm-8{
    padding:0px 2px;
}