.box{
    background-color: rgb(64, 64, 228);
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box1{
    background-color: green;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box2{
    background-color: blue;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box3{
    background-color: purple;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box4{
    background-color: magenta;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box4{
    background-color: magenta;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box5{
    background-color: pink;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    text-decoration-color: darkblue;
    margin:5px;
}

.box6{
    background-color: maroon;
    border-style: solid;
    padding: 3px 0px !important;
    text-align: center;
    margin:5px;
}